.jumbotron {
  background-color: #fdff8c;
  border-radius: 0%;
  margin-top: 50px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #fdff8c;
  margin-bottom: 0px;
  margin-top: 16px;
}

.container-card-hotel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-reserva {
  width: 90%;
  margin: 5%;
}

.card-hotel {
  flex: 1 200px;
  max-width: 200px;
  min-height: 270px;
  margin-top: 16px;
}

.card-hotel {
  justify-content: space-between;
}

.footer-address-icon {
  padding-right: 10px;
}
